* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding: 0px 20px 0px 20px;
  position: absolute;
  background: #fff;
}
header .logo {
  width: 152px;
  height: 31px;
}
header p {
  text-align: right;
}
.main-page {
  height: 100vh;
  width: 100%;
  background: url(https://media.giphy.com/media/9r6FZQ5FI8CIYUpLEg/giphy.gif)
    no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 0px 0px 32px;
}
.headline {
  font-weight: bold;
  font-size: 25px;
  color: white;
}
.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 47px;
}
.media iframe {
  order: 1;
  width: 100%;
  height: 210px;
}
.text-message {
  order: 2;
  height: 245px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-message p {
  text-align: center;
  font-size: 24px;
  padding: 32px;
}
.magazine {
  order: 3;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.magazine .mag-half {
  margin-bottom: 24px;
}
.magazine .mag-half,
.magazine .mag-full {
  height: 254px;
  max-width: 375px;
}
.video-desc {
  order: 4;
  height: 245px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-desc p {
  text-align: center;
  font-size: 24px;
  padding: 32px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    padding: 20px;
    height: 110px;
  }
  header .logo {
    width: 343px;
    height: 69px;
  }
  .main-page {
    padding: 200px 0px 0px 110px;
  }
  .headline {
    font-size: 48px;
  }
  .media {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
  }
  .media iframe {
    height: 699px;
  }
  .magazine {
    order: 2;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 47px;
  }
  .magazine .mag-half {
    margin-bottom: 0px;
  }
  .magazine .mag-half,
  .magazine .mag-full {
    height: 414px;
    max-width: 610px;
  }
  .text-message {
    order: 4;
  }
  .video-desc {
    order: 3;
  }
}
