* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding: 0px 20px 0px 20px;
  position: absolute;
  background: #fff;
  z-index: 1;
}
header .logo {
  width: 152px;
  height: 31px;
}
header p {
  text-align: right;
}
.main-page {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  height: 100vh;
}
.head-video {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .head-video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .head-video {
    width: 300%;
    left: -100%;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fromabove {
  from {
    top: -10px;
  }
  to {
    top: 0px;
  }
}
.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 47px;
}
.media iframe {
  order: 1;
  width: 375px;
  height: 240px;
}
.text-message {
  order: 2;
}
.text-message p {
  font-size: 16px;
  padding: 25px;
}
.magazine {
  order: 3;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.magazine .mag-half {
  margin-bottom: 24px;
}
.magazine .mag-half,
.magazine .mag-full {
  height: 254px;
  max-width: 375px;
  box-shadow: 10px 10px 27px -12px rgba(0, 0, 0, 0.4);
}
.instagram {
  order: 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 47px 0px 47px 0px;
}
.instagram img {
  height: 520px;
}
.facebook {
  order: 5;
  margin: 15px;
  margin: 0px 0px 47px 0px;
}
.facebook img {
  height: 200px;
  box-shadow: 10px 10px 27px -12px rgba(0, 0, 0, 0.4);
}
.video-desc {
  order: 5;
  padding: 25px;
}
.video-desc p {
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .media {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  .media iframe {
    height: 450px;
    width: 100%;
  }
  .magazine {
    flex-direction: column;
    justify-content: space-between;
  }
  .magazine .mag-half,
  .magazine .mag-full {
    height: 414px;
    max-width: 610px;
  }
  .facebook img {
    height: 400px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1240px) {
  header {
    height: 80px;
  }
  header .logo {
    width: 202px;
    height: 61px;
  }
  .media {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
  }
  .media iframe {
    height: 620px;
    width: 100%;
  }
  .text-message {
    width: 100%;
    padding: 25px 0px 25px 0px;
  }
  .magazine {
    flex-direction: row;
    justify-content: space-between;
    height: 424px;
  }
  .magazine .mag-half {
    margin-bottom: 0px;
  }
  .magazine .mag-half:hover,
  .magazine .mag-full:hover {
    height: 424px;
    max-width: 620px;
    transition: 0.2s ease;
  }
  .facebook {
      width: 100%;  
      display: flex;
      justify-content: center;
  }
  .facebook img {
    height: 650px;
    width: 1100px;
  }
  .video-desc {
    width: 100%;
    padding: 25px 0px 25px 75px;
  }
}
